<h1  [innerText]="project.projectName" class="h1"></h1>
<div>
<img [src]="company">&nbsp; &nbsp;
<h1 >חברה המבצעת: </h1></div>
<div [innerText]="project.projectCompany"> </div>
<!-- <div> -->
<!-- <img [src]="email" alt="">&nbsp; &nbsp;
<h1>מייל: </h1></div>
<div [innerText]="project.projectMail"> </div> 
<div>
<img [src]="phone" alt="">&nbsp; &nbsp;
<h1>טלפון: </h1></div>
<div [innerText]="project.projectPhone"></div>-->
<div> 
<img [src]="sec" alt="">&nbsp; &nbsp;
<h1>מזכירה ראשית:  </h1></div>
<div [innerText]="project.projectSecretary"></div> 
<div>
<img [src]="Type" alt="">&nbsp; &nbsp;
<h1> סוג פרויקט:  </h1></div>
<div [innerText]="project.projectType"></div> 
