@import './../../../../style/elements.scss';

section{
    width: 12vw;
    height: 20vh;
    border-radius: 18%;
    // background-color:$blue ;
    // margin-bottom: 14vh;
}
.warp-img{
    border-radius: 20%;
    // top:-500vh;
}
.menuitem-img{
    width: 12vw;
    height: 20vh;
    margin-bottom: 53px;
}