<section>
  <div class="dropdown" *ngIf="children  && children.length">
    <mat-form-field>
      <mat-select>
        <mat-option *ngFor="let option of  children" [value]="option" class="cl">
          <span [innerText]="option" (click)="selectedName(option)"></span>
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="views">
<app-date-and-clock></app-date-and-clock>
    <app-payment *ngIf="selected=='תשלומים'"></app-payment>
    <app-projects *ngIf="selected=='פרויקטים'" (selectedProject)="initSelectedProject($event)" [projectInput]="projectInput"></app-projects>
    <app-cunselors *ngIf="selected=='יועצים'" [selectedCunselor]="selectedOption"></app-cunselors>
    <app-entrepreneur *ngIf="selected=='יזמים'"></app-entrepreneur>
    <app-project *ngIf="selected=='oneProject'" [project]="project"  (project)="oneProjectToProjects($event)"></app-project>
  </div>
</section>

