@import './../../../style/elements.scss';
:host{
 
        section{
            width:79vw;
            height: 95vh;
            border-radius:50px;
            background-color:$light-gray ;
            margin-right: 2vw;
            display:flex;
            flex-direction:column ;
        }
        lib-table{
            width: 150% ;
        }
        // .one{
    
        // }
        // mat-raised-button{
        //     // color: crimson;
        // }
        .dropdown{           
           height:80px;
           flex:0 0 auto;
           justify-content: flex-start;
        }
        .views{
            height: max-content !important;
            width: max-content !important;
            flex:1 1 auto;
        }
        // .mat-ink-bar{
        //     background-color:$green  !important;
        // }
   
        .cl{
            width: 150px;
            //display: flex;
           // flex-direction:column;
        }
}
::ng-deep .mat-select-panel{
    display:flex;
    flex-direction: column  !important;


}


// app-project{
//     margin-bottom: 550px;
// }
