@import './../../../style/elements.scss';
:host{     
    display: flex;
        section{
            width:79vw;
            height: 95vh;
            border-radius:50px;
            background-color:$light-gray ;
            margin-right: 2vw;
            display:flex;
            flex-direction:column ;
            overflow-y: auto;
            overflow-x:hidden;
        }
        app-cunselors, app-project,app-one-entrepreneur,
        app-counselors-by-type,app-one-counselor { 
            overflow: hidden; 
        }
       
        // .dropdown{  
        //    position: absolute; 
        //    bottom: 80vh;        
        //    height:80px;
        //    flex:0 0 auto;
        //    justify-content: flex-start;
        // }
        // .views{
        //     flex:1 1 auto;
        //     height: max-content !important;
        //     width: max-content !important;
           
        // }   
        .cl{
            width: 150px;
        }
        .newButton{
            top: 250px;
            right:450px;
          }
          .actions{
              flex: 0 0 auto;
              box-sizing: border-box;
              position: absolute;
          }
}
::ng-deep .mat-select-panel{
    display:flex;
    flex-direction: column  !important;    
}

app-date-and-clock{
 margin-right:65vw;
 margin-bottom:80vh ;
 font-size: xx-large;
 position: absolute;
 font-family: 'Brush Script MT', cursive;
 color: rgb(9, 51, 135);
}
// // 
// app-entrepreneur{
    // overflow: hidden;
//     display: flex;
//     flex-direction: column;
//     flex-wrap: wrap !important;
//     // border: 3px dotted $dark-gray;
//     // color: $dark-gray;
//     font-size: 2.5rem;
//     // justify-content: space-around;
//     // align-items: center;
//     margin-right: 2rem;
// }
// app-cunselors{
//     right: 150px;
// }
