<section>
  <!-- <div class="dropdown" *ngIf="selectedService.children  && selectedService.children.length">
    <mat-form-field>
      <mat-select>
        <mat-option *ngFor="let option of selectedService.children" [value]="option" class="cl">
          <span [innerText]="option" (click)="selectedName(option)"></span>
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div> -->
  <div class="views">
<app-date-and-clock></app-date-and-clock>
    <!-- <app-payment *ngIf="selectedService.selected=='תשלומים'"></app-payment> -->
    <app-projects *ngIf="selectedService.selected=='פרויקטים'"  ></app-projects>
    <app-cunselors *ngIf="selectedService.selected=='יועצים'" [selectedCunselor]="selectedService.selectedCounselor"></app-cunselors>
    <app-entrepreneur *ngIf="selectedService.selected=='יזמים'"></app-entrepreneur>
    <app-project *ngIf="selectedService.selected=='oneProject'"></app-project>
    <app-one-entrepreneur *ngIf="selectedService.selected=='oneEntrepreneur'"></app-one-entrepreneur>

  </div>
  <div class="actions">
    <button class="newButton" *ngIf="selectedService.selected&&selectedService.selected!='oneProject'
    &&selectedService.selected!='oneEntrepreneur'" mat-stroked-button color="primary" [innerText]="'חדש'" (click)="openDialog()"></button>
  </div>
</section>

