<section class="details">
<span [innerText]="'שם המנהל :'" class="span"></span>
<span class="detail" [innerText]="selectedService.counselor.CounselorOfficeManager"></span> &nbsp;&nbsp;&nbsp; 
<span [innerText]="'טלפון המנהל :'" class="span"></span>
<span class="detail" [innerText]="selectedService.counselor.CounselorOfficeManagerPhone"></span> &nbsp;&nbsp;&nbsp; 
<span [innerText]="'מייל המנהל :'" class="span"></span>
<a class="mail" href="mailto:{{selectedService.counselor.CounselorOfficeManagerMail}}" class="detail" [innerText]="selectedService.counselor.CounselorOfficeManagerMail"></a> &nbsp;&nbsp;&nbsp; 
<span [innerText]="'מייל מזכירה ראשית :'" class="span"></span>
<a class="mail" href=":mailto:{{selectedService.counselor.CounselorOfficeMainSecretaryMail}}" class="detail" [innerText]="selectedService.counselor.CounselorOfficeMainSecretaryMail"></a> &nbsp;&nbsp;&nbsp; 
<span [innerText]="'כתובת המשרד :'" class="span"></span>
<span class="detail" [innerText]="selectedService.counselor.CounselorOfficeAdress"></span> &nbsp;&nbsp;&nbsp;
</section>

<!-- https://mail.google.com/mail/?view=cm&fs=1&to=email@domain.example -->

