@import './elements.scss';

body{

    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    direction: rtl;
    *{
        user-select: none;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none; 
    }
    a{
        color: black;
    }
    .mat-select-panel.custom-select .mat-option{
        height: 100px;
  }
}
