:host {
    // width: 100%;
    // height: 100%;
    
    .hide{
        visibility: hidden;
    }

    .cdk-visually-hidden cdk-focus-trap-anchor {
        visibility: visible;
        // background-color: #c00000;
    }

    form {
        width: 40vw !important;
        height: 85vh !important;
        // right: -170vw;
        // left: 500px;
        display: flex;
        flex-direction: column;

        .mat-button {
            margin-top: -60vh;
            width: 6vw;
        }

        .formLabel {
            margin-bottom: -2px;
            // text-align: right !important;

            &.required {
                position: relative;

                &:after {
                    // content: "*";
                    position: absolute;
                    top: 0;
                    left: -8px;
                    color: #c00000;
                }
            }
        }

        //   .ng-invalid {
        //     // border-color: #c00000;
        //   }
        .ng-valid {
            border-color: rgb(145, 236, 7);
        }

        .errors {
            display: flex;
            flex-direction: column;
            color: red;
        }

        //   .buttons{
        //     position: absolute;
        //     // background-color: #c00000;
        //     margin-top: -250px;
        //   }
        //   mat-button{
        //     top: 50vh;
        //     background-color: aquamarine;
        //   }
    }
   
}