:host {
    display: flex;
    flex-direction: column !important;
    border: 5px darkcyan dashed ;
    overflow: hidden;
    .hide{
        visibility: hidden;
        }
    form {
        // width: 45vw !important;
        // height: 90vh !important;
        // right: -170vw;
        // left: 500px;
        display: flex;
        margin:15px !important;
    
        // .data{
        //     display: flex;
        //     flex-direction: column;
        //     margin:15px !important;
        // }
        .mat-button {
            margin-top: -60vh;
            width: 6vw;
        }
        .formLabel {
            margin-bottom: -2px;
            // text-align: right !important;

            &.required {
                position: relative;

                &:after {
                    position: absolute;
                    top: 0;
                    left: -8px;
                    color: #f90707;
                }
            }
        }

        //   .ng-invalid {
        //     // border-color: #c00000;
        //   }
        .ng-valid {
            border-color: rgb(145, 236, 7);
        }

        .errors {
            display: flex;
            flex-direction: column;
            color: red;
        }

          .buttons{
            position: absolute;
            // background-color: #c00000;
            margin-bottom: -300px;
            left: 43vw;
                  }
        //   mat-button{
        //     top: 50vh;
        //     background-color: aquamarine;
        //   }
    }
    // .save{
    //     // cursor: not-allowed;
    // }
 
} 
 img{
    width: 1.5rem;
    height: 1.5rem;
    margin-top:2vh ;
    margin-right:28vw ;
   }