:host {
    // .mat-button {
    //     // margin-top: -60vh;
    //     width: 6vw;
    // }
    form {
        // width: 40vw !important;
        // height: 85vh !important;
        // right: -170vw;
        // left: 500px;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        mat-option{
            height:100px;
            font-size: 10rem;
            margin: 1.5px;
        }
        .formLabel {
            margin-bottom: -2px;
            margin-right: 20px;

            &.required {
                position: relative;

                &:after {
                    // content: "*";
                    position: absolute;
                    top: 0;
                    left: -8px;
                    color: #c00000;
                }
                
            }
        }

            .ng-invalid {
                color: #c00000;
            }
            .ng-valid {
                border-color: rgb(145, 236, 7);
            }

        .errors {
            display: flex;
            flex-direction: column;
            color: red;
        }

        //   .buttons{
        //     position: absolute;
        //     // background-color: #c00000;
        //     // margin-top: -250px;
        //   }
        //   mat-button{
        //     top: 50vh;
        //     background-color: aquamarine;
        //   }
    }
    .mat-select-trigger {
        min-height: 80vw;
    //   }    height:100vh ;
    // color: #c00000;
     }
   
} 
.hide{
        visibility: hidden;
    }
    ::ng-deep .mat-select-trigger {
        // overflow: auto;
          }
      
    ::ng-deep .mat-select-panel {
    max-height: 65vh !important;
    // overflow: auto;
  }
  ::ng-deep .details{
    overflow:hidden !important;
    border: 5px darkcyan dashed ;
    margin: 2px;
    padding: 90px;
    padding-top: -20px !important;
    margin-left: 205vw;
    display: flex;
    flex-direction: column;
  }
  