<form [formGroup]="formGroup" >
    <mat-form-field class="formLabel required matInput">
        <input matInput type="text" placeholder=" שם הפרויקט" formControlName="ProjectName">
      </mat-form-field>
      <mat-form-field class="formLabel required matInput">
        <input  matInput type="text" placeholder="כתובת הפרויקט" formControlName="ProjectAdress">
      </mat-form-field>
       <mat-form-field class="formLabel required matInput">
       <!-- <input   matInput type="radio" placeholder="סוג הפרויקט" formControlName="ProjectType">-->
      <mat-select placeholder="סוג הפרויקט" formControlName="ProjectType"  >
        <mat-option  *ngFor="let t of projectType" [value]="t.value"  [innerText]="t.viewValue" >
        </mat-option>
      </mat-select>    
      </mat-form-field> 

      <mat-form-field class="formLabel required matInput">
        <input   matInput type="text" placeholder="חברה המבצעת" formControlName="ProjectCompany">
      </mat-form-field>   
      
      <mat-form-field class="formLabel required matInput">
        <input   matInput type="text" placeholder="רובע" formControlName="ProjectRova">
      </mat-form-field>
    <mat-form-field>
      <mat-select placeholder=" יזם מבצע " formControlName="EntrepreneurId"  >
        <mat-option  *ngFor="let entrepreneur of entrepreneurs" [value]="entrepreneur.EntrepreneurId"  [innerText]="entrepreneur.EntrepreneurName" >
        </mat-option>
      </mat-select>    
      </mat-form-field>
     <!-- <div class="errors" *ngIf="formGroup | hasErrors: 'email'">
      <span *ngFor="let error of formGroup.controls['email'].errors | getError"
            [innerText]="error"></span> 
    </div>  -->
<div class="hide">{{entrepreneur$|async}}</div>
<div class="buttons">       
    <button mat-button class="mat-button" type="submit" (click)="save()">אישור</button>
    <button mat-button class="mat-button" type="submit" (click)="reset()">ביטול</button>
</div>
  </form>
  